<%- include("header") -%>

<body>

    <div class="box" id="heading">
        <h1><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for (let item in newItems) { %>
    <form action="/deleteItem" method="post">
        <div class="item">
            <input name="checkbox" type="checkbox" value="<%= JSON.stringify({listName: listTitle, itemName: newItems[item].item, itemID: newItems[item]._id}) %>" onChange="this.form.submit()">
            <p><%= newItems[item].item %></p>
        </div>
    </form>
        <% } %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="">
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
    </div>

    
</body>

<%- include("footer") -%>